@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

:root{
  --color--blood1: #D36163;
  --color--blood2: #EA1010;
  --color--grey1: #f5f5f5;
  --color--grey2: #A09F9F;
  --color--grey3: #616161;
  --color--black: #0F0F0F;
  /* ============================= */
  --bg--black1: #222222;
  --bg--black2: #393939;
  --text--black2: #808080;
  --color--blood3: #B10C0D;
}
*{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: var(--bg--black1);
  color: var(--text--black2);
}
a{
 text-decoration: none;
}
