{% extends "App.njk" %}

{% block head %}
  <link rel="stylesheet" href="/CSS/booksTable.css">
{% endblock head %}

{% block content %}
  <main>
    <a href="#">Novo livro</a>

    <table>
      <thead>
        <th>Título</th>
        <th>Autor</th>
        <th>status</th>
        <th>emprestado</th>
        <th>Informações</th>
      </thead>

      <tbody>
          <tr>
            <td>Harry potter</td>
            <td>Harry potter</td>
            <td>Harry potter</td>
            <td>Harry potter</td>
            <td>Harry potter</td>
          </tr>
      </tbody>
    </table>
  </main>
{% endblock content %}