{% extends "App.njk" %}

{% block head %}
  <link rel="stylesheet" href="/CSS/booksTable.css">
{% endblock head %}

{% block content %}
  <main>
    <a href="/livros/cadastro">Novo livro</a>

    <table>
      <thead>
        <th>Título</th>
        <th>Autor</th>
        <th>status</th>
        <th>emprestado</th>
        <th>Informações</th>
      </thead>

      <tbody>
            {% for book in books %}
              <tr>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.read}}</td>
                <td>{{book.borrowed}}</td>
                <td><a href="/livros/{{book.id}}">Editar</a></td>
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </main>
{% endblock content %}